body {
	background: #313231;
}

.icon {
	height: 30px;
}

.invert {
	filter: invert(1);
}

.navbar-brand {
	color: darkorange !important;
	font-weight: 900;
}

.navbar-brand img {
	display: inline;
	width: 80px;
	vertical-align: text-bottom;
	margin-right: 5px;
}

.row {
	margin: 1rem 0;
}

.pmq {
	background-color: #636463;
	border: 20px solid #636463;
	border-radius: 1.25rem;
	margin: 0 auto;
	padding: 0;
}

.pmq .td, .pmq th {
	background-color: #8d8e8d;
	color: #333433;
	font-weight: bold;
	padding: 10px !important;
	text-align: center;
}

.pmq td {
	background-color: #818381;
	color: #333433;
}

.pmq img {
	background-color: #313231;
	border-radius: 0.75rem;
	padding: 0.5rem 0.75rem;
	width: 7rem;
}

.col-sm {
	padding: 1rem 1.25rem;
}

.calc th {
	width: 25%;
}

.form-control {
	background-color: #313231;
	color: #818381;
	border: none;
}

sup {
	font-weight: bold;
}

sup.brass {
	color: #a4a9a3;
}

sup.bronze {
	color: #be6a3b;
}

sup.silver {
	color: #cde1ea;
}

sup.gold {
	color: #c1a834;
}

/* tmp for bootstrap 3, don't have time to fix it all */
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #313231;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: auto;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-25deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
