body {
     padding-top: 54px;
     background: #313231;
}
 @media (min-width: 992px) {
     body {
         padding-top: 56px;
    }
}
 .icon {
     height: 30px;
}
 .invert {
     filter: invert(1);
}
.navbar-brand {
	color: darkorange !important;
	font-weight: bolder;
}
.navbar-brand img {
	width: 80px;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.row {
	margin-top: 25px;
}
.pmq {
	background-color: #636463;
	border-radius: 30px;
}
.pmq th {
	background-color: #8d8e8d;
	color: #333433;
}
.pmq td {
	background-color: #818381;
	color: #333433;
}
.pmq img {
	background-color: #313231;
	border-radius: 30px;
	margin-bottom: 15px;
	padding: 15px 35px;

}
.col-sm {
	padding: 30px;
}
.form-control {
	background-color: #313231;
	color: #636463;
	border: none;
}
